<!DOCTYPE html>
<html lang="es">
 
    <%- include('includes/head') %>
   
  <body>
    <%- include('includes/header') %>

    <main class="content-wrapper mt-5" style="margin-top: 80px !important">
      <div class="container" style="width: 95% !important">
        <div class="row justify-content-md-center mb-5">
          <div class="col-md-12 mt-5">
            <h2 class="text-center">
              Registro de Mantenimiento de Máquinas de HD y HDF "REYNADIAL S.A"
              <hr />
            </h2>
          </div>

          <img
            class="img-fluid"
            style="max-width: 550px"
            src="public/imgs/reynadial.jpg"
            alt="WeB Developer Leonardo C." />
        </div>
        
      </div>
    </main>
   <!-- jQuery -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <!-- DataTables -->
   <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
   <!-- Responsive Extension Datatables -->
   <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script> 
    <%- include('includes/scripts') %>
  </body>
</html>
